body {
    margin: 0;
    padding: 0;
    background: url(./images/programming-5287885_1280.jpg) no-repeat center fixed;
    background-size: cover;
}

h1 {
    color: red;
    text-align: center;
}

.contact {
    color: #ff8000;
}

#description {
    color: yellow;
    font-size: 25px;
}

h2{
  color: #ff8000;
  font-size: 40px;
  text-decoration: underline;
}

#contact {
    text-align: center;
}    

.text-red{
  color: red;
}

#expPro {
    color: yellow;
    font-size: 20px;
}

#education {
    color:yellow;
    font-size: 20px;
}

.lien {
    text-align: center;
}

img {
    margin: 30px;
}